@import './additional-styles/flatpickr.css';
@import './additional-styles/utility-patterns.css';
@import './dark-mode.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    @apply border-gray-200;
  }
}